body{
  font-family: 'Open Sans', sans-serif;
  background-color: var(--backgroun);
  margin: 0;
}
:root{
--white: rgb(255, 255, 255);
--backgroun: #e4e7e1;
--verde1: rgb(177, 194, 146);
--verde2: #588157ff;
--verde3: #3a5a40ff;
--verde4: #344e41ff;
}
.header{
background-color: var(--verde4);
width: 100%;
display: flex;
align-items: center;
text-align: center;
justify-content: space-between;
height: 125px;
}
.icone_empresa{
  padding-left: 50px;
  display: flex;
  align-items: center;
}
.imagem_icone_empresa{
  width: 70px;
  border-radius: 50%;
  height: 70px;
  
}
.texto_empresa{
  font-size: 35px;
  padding-left: 20px;
  color: var(--verde1);
}
.div_header_button_login{
  padding-right: 50px;
}
.header_button_home{
  padding: 10px 20px;
  font-weight: 700;
  border-radius: 5px;
  border: none;
  background-color: var(--verde4);
  color: var(--verde1);
}
.header_button_cadastro{
  padding: 10px 20px;
  font-weight: 700;
  border-radius: 5px;
  border: none;
  background-color: var(--verde4);
  color: var(--verde1);
}
 button{
   cursor: pointer;
}

/* body */
.container{
  align-items: center;
  text-align: center;
  justify-content: center;
}
.main_descricaoEmpresa{
  display: none;
  margin-top: 5%;
  background-color: var(--verde4);
  height: 480px;
  width: 30%;
  border-radius: 10px;
  animation: caixaCadastro 2.5s;
}
.imagem_empresa{
height: 100px;
width: 100px;
border-radius: 10px;
margin: 20px;
}
.bordao_texto_empresa{
  font-size: 30px;
  margin: 55px 0;
  color: var(--white)
}
.descricao_empresa{
  font-size: 13px;
  color: var(--white);
}

/* cadastrp */
.main_cadastro{
  background-color: var(--white);
  height: 100vh;
  animation: caixaCadastro 1s;
}
.texto_cadastro{
  font-size: 37px;
  text-align: center;
  padding: 10px;

}
.div_span{
  text-align: start;
  padding-left: 45px;
  display: flex;
  height: 20px;
}
.input_email{
  width: 90%;
  background-color: var(--backgroun);
  border: none;
  border-radius: 5px;
  height: 40px;
}
.input_nome{
  width: 90%;
  background-color: var(--backgroun);
  border: none;
  border-radius: 5px;
  height: 40px;
}
.input_senha{
  width: 90%;
  background-color: var(--backgroun);
  border: none;
  border-radius: 5px;
  height: 40px;
}
.input_nivelProfissional{
  width: 90%;
  background-color: var(--backgroun);
  border: none;
  border-radius: 5px;
  height: 40px;
}
.input_email::placeholder{
  color: black;
  padding: 10px;
}
.input_nome::placeholder{
  color: black;
  padding: 10px;
}
.input_senha::placeholder{
  color: black;
  padding: 10px;
}
.input_nivelProfissional::placeholder{
  color: black;
  padding: 10px;
}
.nivelProfissional{
  width: 48%;
}
.div_input{
  margin: 10px;
  display: flex;
  justify-content: center;
}
.div_button_entrar{
  margin-top: 30px;
}
.button_entrar{
  width: 40%;
  height: 40px;
  border-radius: 5px;
  border: 0.5px solid var(--verde4);
  background-color: var(--verde4);
  color: var(--white);
  font-weight: 700;
}
.form_input{
  display: flex;
  justify-content:center;
  align-items: center;
  margin-top: 15px;
  gap: 10px;
}


/* error message */
.error_mensagem_nome{
  color: red;
  font-size: 12px;
  display: none;
}
.error_mensagem_email{
  color: red;
  font-size: 12px;
  display: none;
}
.error_mensagem_senha{
  color: red;
  font-size: 12px;
  display: none;
  
}
.error_mensagem_nivelProfissional{
  color: red;
  font-size: 12px;
  display: none;
}
.error_nome{
  margin: 0 10px;
  align-items: center;
  display: flex;
  justify-content: start;
  width: 93%;
}
.error_email{
  margin: 0 10px;
  align-items: center;
  display: flex;
  justify-content: start;
  width: 93%;
}
.error_senha{
  margin: 0 10px;
  align-items: center;
  display: flex;
  justify-content: start;
  width: 93%;
}
.error_nivelProfissional{
  margin: 0 10px;
  align-items: center;
  display: flex;
  justify-content: start;
  width: 93%;
}
.img_error_nome{
  display: none;
  margin: 0 5px;
}
.img_error_email{
  display: none;
  margin: 0 5px;
}
.img_error_senha{
  display: none;
  margin: 0 5px;
}
.img_error_nivelProfissional{
  display: none;
  margin: 0 5px;
}

@media(min-width: 850px){
  .container{
    display: flex;
  }
  .main_descricaoEmpresa{
    display: block;
    width: 400px;
  }
  .main_cadastro{
    width: 450px;
    height: 460px;
    margin-top: 5%;
    border-radius: 0 10px 10px 0;
  }
  .texto_login{
    margin: 40px;
    padding: 0;
    text-align: start;
  }
  .button_entrar:hover{
    background-color: var(--white);
    color: var(--verde4);
  }
}

@keyframes caixaCadastro{
  0%{
    height: 0;
    width: 0;
    opacity: -1 ;
  }
}